body {
  font-family: Arial, Helvetica, san-serif;
  color: white;
  background-image: url(images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.page_header {
  background: #202020;
  padding: 10px;
  font-size: 110%;
  font-weight: normal;
  text-indent: 8;
}

.login {
  font-size: 10px;
  font-style: normal;
  color: white;
  font-weight: normal;
  text-align: right;
  float: right;
}

nav {
  width: 100%;
  background: #A44200;
  padding: 0px;
  float: left;
}

a {
  float: left;
  padding: 12px;
  color: white;
  font-size: 8pt;
  text-decoration: none;
  text-indent: 80;
  width: 33.33%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

.right {
  right: 0;
  color: white;
  padding-left: 0px;
  background: rgba(0, 0, 0, 0.50);
  opacity: 1.0;
}

.paragraph_title {
  font-size: 10pt;
  padding-top: 0px;
  padding-bottom: 0px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.paragraph_title {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 200%;
	font: inherit;
  font-weight: bold;
  padding-left: 20px;
	vertical-align: top;
}

.paragraph {
  white-space: normal;
  font-size: 8pt;
  padding: 20px;
  margin: 1em 0;
  word-break: break-all;
  word-wrap: break-word;
}

figcaption {
  font-size: 8pt;
  font-weight: bold;
  padding-bottom: 5px;
}

img {
  margin: 0;
	padding: 0;
  width: 220px;
  height: 180px;
  background-position: center center;
  background-repeat: no-repeat;
	border: 2px solid orange;
	font-size: 80%;
}

footer {
  width: 100%;
  padding-top: 140px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 8pt;
}
